aside.sidebar
  nav.sidebar__nav
    ul.sidebar__list
      +sidebarItem('sidebar__laptors', 'Ноутбуки')
      +sidebarItem('sidebar__phone', 'Смартфоны и гаджеты')
      +sidebarItem('sidebar__processors', 'Процессоры')
      +sidebarItem('sidebar__ram', 'Оперативная память')
      +sidebarItem('sidebar__videocards', 'Видеокарты')
      +sidebarItem('sidebar__ssd', 'SSD')
      +sidebarItem('sidebar__hdd', 'HDD')
      +sidebarItem('sidebar__monitors', 'Мониторы')