// {
//   "presets": ["@babel/preset-env", "@babel/preset-react"]
//   // Remove the line below to enable ES2015 support.
//   // "only": "gulpfile.babel.js",
//   // "retainLines": true
// }
{
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}