.link-wrap {
  width: 100%;
  height: 30px;
  padding: 5px;
  padding-left: 50px;
  text-transform: uppercase;
  position: relative;
  background-color: #000;

  @include roboto;
  @include flex-center;
}

.main-link {
  cursor: pointer;
  color: rgb(209, 122, 22);
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
}
