
.gds
  button.button_gdz Купить
  p.gds__text Нажимая на кнопку "КУПИТЬ", вы соглашаетесь с подключением услуг на ваш номер телефона. 40 руб будет стоить  подключение услуги, 140 руб в месяц ее обслуживание.